!!!
%html
  %head
    %title= @title || 'Motivator'
      %link{:href => '/main.css', :rel => 'stylesheet', :type => 'text/css'}
        %body
          #container
            #header
              #logo
                %h1
                  %a{:href => '/'}= @title
            #content= yield
            #footer
