%h1 the best fucking quotes ever
%h3 delivered to your inbox, every morning at 8:30 am PST

.recipient-form
  %form{ action: '/create', method: 'post', id: 'recipient', enctype: 'multipart/form-data' }
    - if flash[:error]
      %p= flash[:error]

    %input{ type: 'text', name: 'recipient[email]', id: 'email' }
      %span
        %button{ type: 'submit' } inspire me!

